.app {
  min-height: 100vh;
}

.app.dashboard-page,
.app.retroboard-gradient {
  overflow-y: auto;
  height: 100vh;
}

.app.homepage-gradient {
  background: linear-gradient(90deg, #c084fc 0%, #a78bfa 50%, #f472b6 100%);
  min-height: 100vh;
}

.app.retroboard-gradient {
  background: linear-gradient(90deg, #c084fc 0%, #a78bfa 50%, #f472b6 100%);
  min-height: 100vh;
}

.main-content {
  width: 100%;
}
