/* CSS Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Stack Sans Notch", sans-serif;
  letter-spacing: 0.5 px;
  background-color: white;
}

/* Root styling goes here*/
